<h1>Stupid Coaching</h1>

<%= @question %>

<p>-You</p>

<%= @answer %>

<p>-Your coach</p>


<a href="http://localhost:3000/ask">Ask a new question</a>


<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>


 -->

<!-- <p>Now is <%= Time.now %><p> -->
